@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/belucha/oxyplot.blazor">https://github.com/belucha/oxyplot.blazor</a>
        <a href="https://oxyplot.github.io/" target="_blank">About</a>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
