@page "/OxyPlotExampleCode/{Id:int}"
@inject ExampleService ExampleService
@using OxyPlot
@using ExampleLibrary
@if (_exampleInfo != null)
{
    <h2>
        <a href="/OxyPlotExamples"><span class="oi oi-home" aria-hidden="true"></span></a>
        <a class="px-2" href=@($"/OxyPlotExample/{Id}")>Plot</a>
        @if (Id > 0)
        {
            <a class="px-2" href=@($"/OxyPlotExampleCode/{Id-1}")> &lt; </a>
        }
        @if ((Id + 1) < ExampleService.Values.Count)
        {
            <a class="px-2" href=@($"/OxyPlotExampleCode/{Id+1}")>&gt; </a>
        }
    </h2>
    <h6>@string.Join(", ", _exampleInfo.Tags)</h6>
    <h4>Code</h4>
    <code>
        <pre>
            @_exampleInfo.Code
        </pre>
    </code>
}
@code {
    [Parameter] public int? Id { get; set; }
    ExampleInfo? _exampleInfo;
    PlotController _c = new();
    protected override void OnParametersSet() => _exampleInfo = Id.HasValue ? ExampleService[Id.Value] : null;
}
